<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<p>TEST DEPLOY 1 SETTINGS???? WHAT SETTINGS!??!?! DUDE I MADE THIS APP IN LIKE 2 DAYS..... you're a coder for fucks sakes, download the code and make ur own damn settings, its an ionic app, its easy you did this at UNI</p>
<a href="https://github.com/Catacomba/smite-the-dragon">Heres the code</a>
<img src="../../assets/images/do_it_your_self.png" style="height: 90%; width: 100%;" alt="Italian Trulli">
</ion-content>
