<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smite the dragon! Do it!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center">

    <!-- Dragon health bar -->
    <p>{{dragonCurrentHealth}}</p>
    <div class="healthbar-border-wrap">
      <progress id="file" class="progressBar" value="{{dragonCurrentHealth}}" max="{{dragonMaxHealth}}">
      </progress>
      <div class="barOverlay"></div>
    </div>

    <div *ngIf="startTimer > 0">
      {{startTimer}}
    </div>
    <!-- Winning text -->
    <div [hidden]="!endgameWon">
      {{winningText}}
    </div>
    <!-- Lossing text -->
    <div [hidden]="!endgameLoss">
      {{losingText}}
    </div>

    <div class="cls_buttonContainer" fxLayout="column" fxLayoutAlign="space-around center" >
      <div class="container">
        <input
        [disabled]="!gameRunning"
        class="cls_smiteButton"
        type="image"
        src="../../assets/icon/ss_smite_256.png"
        (click)="smiteDragonClick()"/>
        <div class="txt_align_bottomRight">{{smiteDamage}}</div>
        <div [hidden]="gameRunning" class="smiteDisabledOverlay"></div>
      </div>

      <button mat-fab color="primary"
        class="cls_startButton"
        type="button" 
        (click)="beginGameClick()">Start</button>
      <button mat-fab color="accent"
        class="cls_endButton" 
        type="button" 
        (click)="endGameClick()">End</button>
    </div>
  </div>
</ion-content>