<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smite the dragon, do it!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center">
    <!-- Dragon health bar -->
    <p>{{dragonCurrentHealth}}</p>
    <div class="healthbar-border-wrap">
      <progress id="file" class="progressBar" value="{{dragonCurrentHealth}}" max="{{dragonMaxHealth}}">
      </progress>
      <div class="barOverlay"></div>
    </div>
    <div>

      <button type="button" (click)="smiteDragonClick()">Click Me!</button>
      <button type="button" (click)="beginGameClick()">Begin game</button>
      <button type="button" (click)="endGameClick()">End game</button>
    </div>
    <div>
      Time till death: {{timeTillDeath}}
    </div>
    <div *ngIf="startTimer > 0">
      {{startTimer}}
    </div>
  </div>
</ion-content>